Playing with Wine Quality Data Set


***

In [1]:
# Numerical arrays.
import numpy as np

# Data frames.
import pandas as pd

# Plotting.
import matplotlib.pyplot as plt

# Logistic regression.
import sklearn.linear_model as lm

# K nearest neaighbours.
import sklearn.neighbors as nei

# Helper functions.
import sklearn.model_selection as mod

# Fancier, statistical plots.
import seaborn as sns

In [2]:
# Standard plot size.
plt.rcParams['figure.figsize'] = (15, 10)

# Standard colour scheme.
plt.style.use('ggplot')

Wine Data Set

In [9]:
dfr = pd.read_csv('winequality-red.csv')

In [10]:
dfr

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1      7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2     7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3     11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
...                                                 ...
1594  6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5
1595  5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...
1596  6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...
1597  5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...
1598  6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...

[1599 rows x 1 columns]

In [5]:
dfw = pd.read_csv('winequality-white.csv')

In [6]:
dfw

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

In [11]:
dfr.describe()

       fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
count                                                1599
unique                                               1359
top     7.2;0.695;0.13;2;0.076;12;20;0.99546;3.29;0.54...
freq                                                    4

In [14]:
sns.pairplot(dfr ,hue='pH');

ValueError: No variables found for grid columns.